body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 60px 100px 0 100px;
}

.name-app{
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.cards-pokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 48%;
    border-radius: 20px;
    height: 300px;
    color: white;
    background-color: green;
    font-size: 50px;
    position: relative;
    margin-bottom: 30px;
}

.name-pokemon {
    margin-left: 50px;
    margin-top: 50px;
}

.image-pokemon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 200px;
}

